<mat-card>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="email">Email</label>
      <input class="form-control" id="email" type="text"  placeholder="Email" formControlName="email" required>
  </div>

    <div class="form-group">
    <label for="password">Password</label>
      <input  class="form-control"  type="password" id="password"  placeholder="Password" formControlName="password" required>
    </div>
 
  <p *ngIf="errorlogin" class="error">
    {{ error }}
  </p>
  <div>
    <button class="btn btn-primary float-left" [routerLink]="['/register']" type="button">Register</button>
    <button  class="btn btn-primary float-right" type="submit">Login</button>
  </div>
</form>
</mat-card>