<mat-card >
  <h3>Sign up form</h3>
  <p>Please fill out this form for register</p>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
        <input class="form-control" id="name" type="text" placeholder="Name" formControlName="name" required>
      </div>

      <div class="form-group">
        <input class="form-control" id="email" type="text" placeholder="Email" formControlName="email" required>
      </div>

      <div class="form-group">
        <input class="form-control" id="password" type="password"  placeholder="Password" formControlName="password" required>
      </div>

      <p *ngIf="errorlogin" class="error">
        {{ error }}
      </p>
      <div>
        <input  style="float:right" type="submit" value="Register" class="btn btn-primary btn-block">
      </div>

    </form>
  </mat-card-content>
</mat-card>