
<mat-card>
    <mat-card-header>
      <mat-card-title>Edit Movie Details</mat-card-title>
    </mat-card-header>
  
      <form [formGroup]="form" (ngSubmit)="saveMovie()">
        <div class="form-group">
          <label for="name">What's your favorite Movie?</label>
            <input class="form-control" id="name" type="text"  placeholder="Name" formControlName="name" required>
        </div>

        <div class="form-group">
          <label for="author">Author?</label>
            <input class="form-control" id="author" type="text"  placeholder="Author" formControlName="author" required>
        </div>

        <div class="form-group">
          <label for="tags">Tags?</label>
            <input class="form-control" id="tags" type="text"  placeholder="Tag" formControlName="tags" required>
        </div>

        <div class="form-group">
          <label for="isPublished">Is Published?</label>
            <input class="form-control" id="isPublished" type="text"  placeholder="is Published"  [attr.disabled]="true" formControlName="isPublished" required>
        </div>

        <div class="form-group">
          <label for="star">Rating out of 1 to 5?</label>
            <input class="form-control" id="star" type="text"  placeholder="favourite Movie" formControlName="star" required>
        </div>

        <div>
          <button  class="btn btn-primary float-right" type="submit">Save</button>
        </div>
      </form>

</mat-card>
