<div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
    <a href="" class="navbar-brand">Movies</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navBarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBarCollapse">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item">
             <a href="authentication#home-section"  *ngIf="!showLogout" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="authentication#explore-head-section"  *ngIf="!showLogout" class="nav-link">Explore</a>
             </li>
             <li class="nav-item">
              <a href="authentication#share-head-section" *ngIf="!showLogout" class="nav-link">Share</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" (click)="logOut()" *ngIf="showLogout">Logout</a>
             </li>
             <li class="btn btn-primary float-right"  (click)="goBack()" *ngIf="hideButton">
              <i class="fas fa-arrow-left"></i>
             </li>
         </ul>
      </div>
  </div>
</nav>

<!--Home section-->

<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
         <div class="row">
           <div *ngIf="!showLogout" class="col-lg-8 d-none d-lg-block">
             <h1 class="display-4">Display Movie and <strong>Earn Revenue</strong></h1>
             <div class="d-flex">
               <div class="p-4 align-self-start">
                 <i class="fas fa-check fa-2x"></i>
               </div>
               <div class="p-4 align-self-end">
                Currenty working on it. will update the text soon....... 
               </div>
             </div>
             <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
               Currenty working on it. will update the text soon....... 
              </div>
            </div>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Currenty working on it. will update the text soon....... 
              </div>
            </div>
           </div>
           <div [ngClass]="{'col-lg-12' : showLogout, 'col-lg-4' : '!showLogout'}" >
                <router-outlet></router-outlet>
           </div>
         </div>
    </div>
  </div>
</header>

<!--Explore  head section-->

<section *ngIf="!showLogout" id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Explore</h1>
        <p class="lead">Currenty working on it. will update the text soon....... </p>
        <a href="#" class="btn btn-outline-secondary">Find out more</a>
      </div>
    </div>
  </div>
</section>

<section *ngIf="!showLogout" id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/images/explore_one.jpg" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Explore & Connect</h3>
        <p>Currenty working on it. will update the text soon....... </p>
         <div class="d-flex">
           <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
           </div>
           <div class="p-4 align-self-end">
            Currenty working on it. will update the text soon....... 
         </div>
         </div>
         <div class="d-flex">
          <div class="p-4 align-self-start">
             <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            Currenty working on it. will update the text soon....... 
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Share head section-->

<section  *ngIf="!showLogout" id="share-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Share</h1>
        <p class="lead">Currenty working on it. will update the text soon....... </p>
        <a href="#" class="btn btn-outline-light">Find out more</a>
      </div>
    </div>
  </div>
</section>

<section  *ngIf="!showLogout" id="share-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/images/share_two.jpg" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Share Movies</h3>
        <p>Currenty working on it. will update the text soon....... </p>
         <div class="d-flex">
           <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
           </div>
           <div class="p-4 align-self-end">
            Currenty working on it. will update the text soon....... 
         </div>
         </div>
         <div class="d-flex">
          <div class="p-4 align-self-start">
             <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            Currenty working on it. will update the text soon....... 
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Footer Section-->
<footer id="main-footer" class="bg-dark pt-5">
    <app-footer></app-footer>
 </footer>
</div>



